section.svelte-1uha8ag{scroll-margin-top:100px}.form-control.svelte-1uha8ag{border-radius:15px;padding:12px;border:2px solid #ddd}.form-control.svelte-1uha8ag:focus{border-color:var(--text-main);box-shadow:none}
